/* mainHeader start */
.mainHeader {
  background-image: url(../resources//header-background-lg.png);
}
/* mainHeader end */

/* subHeader start */
.subHeader {
  height: 22.26vh;
}

.subHeader div:first-child {
  margin-left: 3.91vw;
}

.subHeader div:last-child {
  margin-right: 3.91vw;
}

.subHeader div:last-child img {
  width: 4.88vw;
}
/* subHeader end*/

/* headerMessage start */
.headerMessage {
  height: 66.67vh;
}

.headerMessage div {
  margin: 0 3.91vw 0 0;
  padding: 2.21vh 1.66vw 4.68vh 1.66vw;
}

.headerMessage div p:first-child {
  padding-bottom: 6.38vh;
}

.headerMessage div p:last-child a {
  padding: 2.47vh 2.15vw;
}
/* headerMessage end */

/* scrollFooter start */
.scrollFooter {
  height: 11.07vh;
}

.scrollFooter img {
  width: 3.03vw;
}
/* scrollFooter end */

/* menuContainer start */
.menuContainer section:first-child {
  height: 22.26vh;
}

.menuContainer section:first-child div {
  margin-right: 3.91vw;
}

.menuContainer section:first-child img {
  width: 4.88vw;
}

.menuContainer section:last-child {
  height: 77.74vh;
}
/* menuContainer end */

/* mainMenu start */
.mainMenu li a {
  font-size: 1.75rem;
}
/* mainMenu end */

/* associationContent start */
.titleContent {
  padding-top: 6.51vh;
}

.titleLine {
  width: 2.93vw;
  height: 0.39vh;
}

.titleContent .titleLine:first-child {
  margin-right: 2.93vw;
}

.titleContent .titleLine:last-child {
  margin-left: 2.93vw;
}

.associationContent p {
  padding: 3.91vh 2.44vw 0 2.44vw;
}

.associationContent p:last-child {
  padding-bottom: 6.51vh;
}

.associationContent img {
  padding: 3.91vh 0 0 0;
  width: 34.18vw;
}
/* associationContent end*/

/* rideInformations start */
.rideCard:nth-of-type(1) {
  margin: 3.91vh 0 6.51vh 2.44vw;
}

.rideCard:nth-of-type(2) {
  margin: 3.91vh 2.44vw 6.51vh 0;
}

.rideCard:nth-of-type(3) {
  margin: 0 0 6.51vh 2.44vw;
}

.rideCard h3 {
  padding-top: 1.95vh;
}

.rideIcon:first-of-type,
.rideIcon:nth-of-type(4) {
  margin-top: 3.91vh;
}

.rideIcon {
  margin-top: 1.95vh;
}

.rideIcon img {
  width: 1.46vw;
}

.rideIcon p {
  padding-left: 1.46vw;
}

.rideCard a {
  padding: 1.95vh 1.46vw;
}

.rideCard > p {
  margin-top: 3.91vh;
}
/* rideInformations end */

/* socialsLinks start */
.socialsLinks {
  padding-top: 6.51vh;
}

.socialsLinks img {
  height: 4.56vh;
}

.socialsLinks img:first-child {
  margin-right: 3.42vw;
}
/* socialsLinks end*/

/* navLinks start */
.navLinks {
  margin-top: 3.91vh;
}

.navLinks > div {
  margin: 1.95vh auto;
}
/* navlLinks end */

/* footerInformations start */
.footerInformations {
  margin: 3.91vh 0 6.51vh 0;
}

.footerInformations p:nth-child(2) {
  margin: 1.95vh 0;
}
/* footerInformations end */
