/* Font-face declaration start*/
@font-face {
  font-family: "SF Pro Display Medium";
  src: url(../resources/SF-Pro-Display-Medium.otf);
}

@font-face {
  font-family: "SF Pro Display Light";
  src: url(../resources/SF-Pro-Display-Light.otf);
}

@font-face {
  font-family: "SF Pro Display Thin";
  src: url(../resources/SF-Pro-Display-Thin.otf);
}
/* Font-face declaration end */

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* mainHeader start */
.mainHeader {
  background-image: url(../resources//header-background-sm.png);
  background-size: cover;
  background-position: center;
}
/* mainHeader end */

/* subHeader start */
.subHeader {
  background-color: rgba(0, 0, 0, 0.75);
  height: 15.44vh;
}

.subHeader div:first-child {
  margin-left: 8.41vw;
}

.subHeader div:last-child {
  margin-right: 8.41vw;
}

.subHeader div:last-child img {
  width: 100%;
}
/* subHeader end*/

/* headerMessage start */
.headerMessage {
  height: 74.3vh;
}

.headerMessage div {
  margin-left: 8.33vw;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1.62vh 3.5vw 3.24vh 3.5vw;
}

.headerMessage div p:first-child {
  color: #ffffff;
  font-family: "SF Pro Display Medium";
  padding-bottom: 3.24vh;
}

.headerMessage div p:last-child a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0085d8;
  padding: 1.62vh 3.5vw;
  font-family: "SF Pro Display Thin";
  font-size: 0.81rem;
}
/* headerMessage end */

/* scrollFooter start */
.scrollFooter {
  background-color: rgba(0, 0, 0, 0.75);
  height: 10.26vh;
}

.scrollFooter img {
  width: 5.73vw;
}
/* scrollFooter end */

/* menuContainer start */
.menuContainer {
  background-color: #000000;
  display: none;
  width: 100vw;
}

.menuContainer section:first-child {
  height: 15.44vh;
}

.menuContainer section:first-child div {
  margin-right: 8.41vw;
}

.menuContainer section:first-child img {
  width: 100%;
}

.menuContainer section:last-child {
  height: 84.56vh;
}
/* menuContainer end*/

/* mainMenu start */
.mainMenu li {
  list-style: none;
}

.mainMenu li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "SF Pro Display Light";
  font-size: 1.05rem;
}

.mainMenu li a:hover {
  color: #4c4c4c;
}

.separator,
.titleLine {
  width: 7vw;
  height: 0.32vh;
}

.separator {
  margin: 1.62vh auto;
}

.blue {
  background-color: #0085d8;
}
/* mainMenu end*/

/* associationContent start */
.associationContent {
  background-color: #4c4c4c;
}

.titleContent {
  padding-top: 5.4vh;
}

.titleContent .titleLine:first-child {
  margin-right: 7vw;
}

.titleContent .titleLine:last-child {
  margin-left: 7vw;
}

.associationContent .titleContent h2,
.rideContent .titleContent h2 {
  font-family: "SF Pro Display Medium";
  font-size: 1.5rem;
}

.associationContent .titleContent h2 {
  color: #0085d8;
}

.associationContent p {
  font-family: "SF Pro Display Light";
}

.associationContent p,
.associationContent img,
.rideInformations {
  padding: 3.24vh 5.84vw 0 5.84vw;
}

.associationContent img {
  width: 100%;
}

.associationContent p:last-child {
  padding-bottom: 5.4vh;
}

.associationContent a {
  text-decoration: none;
  color: #ffffff;
}
/* associationContent end*/

/* rideContent start*/
.rideContent .titleContent h2 {
  color: #ffffff;
}

.white {
  background-color: #ffffff;
}
/* rideContent end */

/* rideInformations start */
.rideCard {
  margin-bottom: 5.4vh;
}

.rideIcon:first-of-type,
.rideIcon:nth-of-type(4) {
  margin-top: 2.92vh;
}

.rideInformations h3 {
  color: #ffffff;
  font-family: "SF Pro Display Medium";
  font-size: 1.25rem;
  padding-top: 1.62vh;
}

.rideIcon:first-of-type,
.rideIcon:nth-of-type(4) {
  margin-top: 3.24vh;
}

.rideIcon {
  margin-top: 1.62vh;
}

.rideIcon img {
  width: 3.5vw;
}

.rideIcon p {
  color: #0085d8;
  font-family: "SF Pro Display Light";
  font-size: 1.25rem;
  padding-left: 3.5vw;
}

.rideIcon:nth-of-type(4) p,
.rideIcon:nth-of-type(5) p,
.rideIcon:nth-of-type(6) p {
  color: #4c4c4c;
}

.rideInformations a {
  color: #ffffff;
  text-decoration: none;
  padding: 1.62vh 3.5vw;
  background-color: #0085d8;
  font-family: "SF Pro Display Thin";
  font-size: 0.81rem;
}

.rideCard > p {
  margin-top: 3.52vh;
}
/* rideInformations end*/

/* socialsLinks start */
.socialsLinks {
  padding-top: 5.4vh;
}

.socialsLinks img {
  height: 3.24vh;
}

.socialsLinks img:first-child {
  margin-right: 5.84vw;
}
/* socialLinks end */

/* navLinks start */
.navLinks {
  margin-top: 3.24vh;
}

.navLinks a {
  text-decoration: none;
  color: #000000;
  font-family: "SF Pro Display Light";
  font-size: 0.75rem;
}

.black {
  background-color: black;
}

.navLinks > div {
  margin: 1.62vh auto;
}
/* navLinks end */

/* footerInformations start */
.footerInformations {
  margin: 3.24vh 0 5.4vh 0;
}

.footerInformations p,
.footerInformations a {
  font-family: "SF Pro Display Light";
  font-size: 0.75rem;
  color: #ffffff;
}

.footerInformations p:nth-child(2) {
  margin: 1.62vh 0;
}

.footerInformations a {
  text-decoration: none;
}
/* footerInformations end */
