/* Font-face declaration start*/
@font-face {
  font-family: "SF Pro Display Medium";
  src: url(../resources/SF-Pro-Display-Medium.otf);
}

@font-face {
  font-family: "SF Pro Display Light";
  src: url(../resources/SF-Pro-Display-Light.otf);
}

@font-face {
  font-family: "SF Pro Display Thin";
  src: url(../resources/SF-Pro-Display-Thin.otf);
}
/* Font-face declaration end */

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

/* mainHeader start */
.mainHeader {
  background-image: url(../resources/slide-1-vertical-img.png);
  background-size: cover;
  background-position: center;
}
/* mainHeader end */

/* subHeader start */
.subHeader {
  height: 15.44vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.subHeader div:first-child {
  margin-left: 8.33vw;
}

.subHeader div:last-child {
  margin-right: 8.33vw;
}

.subHeader div:last-child img {
  width: 100%;
}
/* subHeader end */

/* slider start */
.slider {
  height: 74.3vh;
}
/* slider end */

/* srollFooter start*/
.scrollFooter {
  height: 10.26vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.scrollFooter img {
  width: 5.73vw;
}
/* scrollFooter end */

/* menuContainer start */
.black {
  background-color: black;
}

.menuContainer {
  display: none;
}

.menuContainer section:first-child {
  height: 15.44vh;
}

.menuContainer section:first-child div {
  margin-right: 8.33vw;
}

.menuContainer section:first-child img {
  width: 100%;
}

.menuContainer section:last-child {
  height: 84.56vh;
}
/* menuContainer end */

/* mainMenu start */
.mainMenu li {
  list-style: none;
}

.mainMenu li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "SF Pro Display Light";
  font-size: 1.25rem;
}

.separator {
  width: 7vw;
  height: 0.32vh;
}

.separator {
  margin: 1.62vh auto;
}

.blue {
  background-color: #0085d8;
}
/* mainMenu end */
