<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Que ce soit pour des balades moto en LIMOUSIN ou ailleurs en France, vous trouverez sur ce site tout ce dont vous cherchez. Chaque balade vous donnera droit à sa trace GPX ainsi qu'un fichier PDF avec le roadbook complet." />
    <title>Virées à Moto - Les balades</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/rideView.css" type="text/css" />
    <link rel="stylesheet" href="../css/rideView-md.css" media="screen and (min-width: 768px)" type="text/css" />
    <link rel="stylesheet" href="../css/rideView-lg.css" media="screen and (min-width: 992px)" type="text/css" />
  </head>
  <body class="position-relative">
    <!-- mainheader start -->
    <header class="mainHeader">
      <!-- subHeader start -->
      <section class="subHeader row justify-content-between align-items-center g-0">
        <div class="col-7 col-md-5 col-lg-4">
          <img class="w-100" src="../resources/logo-img.png" alt="Logo Virées à Moto" />
        </div>
        <div class="col-1 text-md-end">
          <img src="../resources/menu-icon.png" alt="Icône ouverture menu" />
        </div>
      </section>
      <!-- subHeader end -->
      <!-- slider start -->
      <section class="slider row"></section>
      <!-- slider end -->
      <!-- scrollFooter start -->
      <section class="scrollFooter row justify-content-center align-items-center g-0">
        <div class="col-1 text-center">
          <img src="../resources/scroll-icon.png" alt="Icône défilement de la page" />
        </div>
      </section>
      <!-- scrollFooter end -->
    </header>
    <!-- mainHeader end -->
    <!-- menuContainer start -->
    <nav class="menuContainer black position-absolute top-0 start-0">
      <section class="row justify-content-end align-items-center g-0">
        <div class="col-1 text-md-end">
          <img src="../resources/cancel-icon.png" alt="Icône fermeture du menu" />
        </div>
      </section>
      <section class="row justify-content-center align-items-center g-0">
        <div class="col-4">
          <ul class="mainMenu p-0 mb-0 text-center">
            <li><a href="../index.html">Accueil</a></li>
            <div class="separator blue"></div>
            <li><a href="#">L'association</a></li>
            <div class="separator blue"></div>
            <li><a href="#">Les balades</a></li>
            <div class="separator blue"></div>
            <li><a href="#">Nous contacter</a></li>
          </ul>
        </div>
      </section>
    </nav>
    <!-- menuContainer end -->
    <main class="mainContainer">
      <!-- toKnowContent start -->
      <section class="toKnowContent row g-0">
        <div class="col-12">
          <div class="titleContent d-flex justify-content-center align-items-center">
            <div class="titleLine blue"></div>
            <h2>A savoir</h2>
            <div class="titleLine blue"></div>
          </div>
          <p class="mb-0">
            Les balades Virées à Moto se déroulent sur une durée de 1 après-midi, une journée voire sur plusieurs jours. Afin de simplifier l’organisation de ces dernières mais aussi pour faciliter l’accès aux informations, elles sont, uniquement, organisées par l’ambassadeur de la région. Si vous
            souhaitez devenir <a href="">ambassadeur</a> pour votre région, n’hésitez pas à présenter votre candidature à l’aide du formulaire de <a href="">contact.</a> Votre candidature sera étudiée par le bureau de l’association.
          </p>
          <p class="mb-0">
            Lors du déroulement d’une balade, ni l’ambassadeur, ni l’association Virées à Moto ne pourra être tenue pour responsable. Afin d’éviter tout problème, il est donc demandé aux participants d’être en règle que ce soit dans la détention du permis de conduire que du côté assurance. Il est
            également demandé de respecter scrupuleusement le code de la route. Toujours dans le but de simplifier le déroulement d’une balade, il sera demandé aux participants de démarrer la balade avec le plein des motos faits.
          </p>
          <p class="mb-0">Pour chaque balade organisée, l’ambassadeur devra fournir, le jour de la balade, une heure de rendez-vous ainsi qu’un lieu, la durée et le kilométrage. Il vous sera également donné le ou les fichiers gpx ainsi qu’un PDF avec les données de la balade.</p>
        </div>
      </section>
      <!-- toKnowContent end -->
      <!-- rideContent start -->
      <section class="rideContent row g-0 grey">
        <div class="col-12">
          <div class="titleContent d-flex justify-content-center align-items-center">
            <div class="titleLine blue"></div>
            <h2>Les prochaines balades</h2>
            <div class="titleLine blue"></div>
          </div>
        </div>
        <!-- rideInformations start -->
        <div class="rideInformations row justify-content-md-between g-0">
          <div class="rideCard col-12 col-md-5">
            <img class="w-100" src="../resources/ride-granit-rose-img.jpg" alt="Image journée sur la côte de granit rose" />
            <h3 class="mb-0 text-center">Journée sur la côte<br />de granit rose</h3>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-area-icon.png" alt="Icône localisation balade" />
              <p class="mb-0">Bretagne</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-length-icon.png" alt="Icône durée balade" />
              <p class="mb-0">1 journée</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-kilometers-icon.png" alt="Icône longeur balade" />
              <p class="mb-0">304 kms</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-date-black-icon.png" alt="Icône  date balade" />
              <p class="mb-0">Dimanche 23 avril 2022</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-hour-black-icon.png" alt="Icône heure RDV balade" />
              <p class="mb-0">8h00</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-place-black-icon.png" alt="Icône  endroit RDV balade" />
              <p class="mb-0">Supermarché Casino<br />Rue Francois PERRIN<br />35000 RENNES</p>
            </div>
            <div class="row downloadContent justify-content-between g-0">
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger le GPX</a></p>
              </div>
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger les infos</a></p>
              </div>
            </div>
          </div>
          <div class="rideCard col-12 col-md-5">
            <img class="w-100" src="../resources/ride-collonges-img.jpg" alt="Image découverte du village de COLLONGES LA ROUGE" />
            <h3 class="mb-0 text-center">Découverte du village de<br />COLLONGES LA ROUGE</h3>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-area-icon.png" alt="Icône localisation balade" />
              <p class="mb-0">Limousin</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-length-icon.png" alt="Icône durée balade" />
              <p class="mb-0">1 journée</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-kilometers-icon.png" alt="Icône longeur balade" />
              <p class="mb-0">298 kms</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-date-black-icon.png" alt="Icône  date balade" />
              <p class="mb-0">Dimanche 13 mars 2022</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-hour-black-icon.png" alt="Icône heure RDV balade" />
              <p class="mb-0">10h00</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-place-black-icon.png" alt="Icône  endroit RDV balade" />
              <p class="mb-0">Supermarché U<br />Rue Francois CHENIEUX<br />87000 LIMOGES</p>
            </div>
            <div class="row downloadContent justify-content-between g-0">
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger le GPX</a></p>
              </div>
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger les infos</a></p>
              </div>
            </div>
          </div>
          <div class="rideCard col-12 col-md-5">
            <img class="w-100" src="../resources/ride-gorges-cians-img.jpg" alt="Image balade dans les gorges du CIANS" />
            <h3 class="mb-0 text-center">Balade dans les<br />gorges du CIANS</h3>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-area-icon.png" alt="Icône localisation balade" />
              <p class="mb-0">Provence Alpes Côte d'Azur</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-length-icon.png" alt="Icône durée balade" />
              <p class="mb-0">1 journée</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-kilometers-icon.png" alt="Icône longeur balade" />
              <p class="mb-0">312 kms</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-date-black-icon.png" alt="Icône  date balade" />
              <p class="mb-0">Dimanche 17 avril 2022</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-hour-black-icon.png" alt="Icône heure RDV balade" />
              <p class="mb-0">9h00</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-place-black-icon.png" alt="Icône  endroit RDV balade" />
              <p class="mb-0">Supermarché Casino<br />Rue Albert THOMAS<br />06100 NICE</p>
            </div>
            <div class="row downloadContent justify-content-between g-0">
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger le GPX</a></p>
              </div>
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger les infos</a></p>
              </div>
            </div>
          </div>
          <div class="rideCard col-12 col-md-5">
            <img class="w-100" src="../resources/ride-arcachon-img.jpg" alt="Image balade sur le bassin d'ARCACHON" />
            <h3 class="mb-0 text-center">Balade sur le<br />bassin d'ARCACHON</h3>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-area-icon.png" alt="Icône localisation balade" />
              <p class="mb-0">Gironde</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-length-icon.png" alt="Icône durée balade" />
              <p class="mb-0">1 journée</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-kilometers-icon.png" alt="Icône longeur balade" />
              <p class="mb-0">257 kms</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-date-black-icon.png" alt="Icône  date balade" />
              <p class="mb-0">Dimanche 17 avril 2022</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-hour-black-icon.png" alt="Icône heure RDV balade" />
              <p class="mb-0">9h00</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-place-black-icon.png" alt="Icône  endroit RDV balade" />
              <p class="mb-0">Café de la poste<br />23 rue Auguste RENOIR<br />33000 BORDEAUX</p>
            </div>
            <div class="row downloadContent justify-content-between g-0">
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger le GPX</a></p>
              </div>
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger les infos</a></p>
              </div>
            </div>
          </div>
          <div class="rideCard col-12 col-md-5">
            <img class="w-100" src="../resources/ride-navacelles-img.jpg" alt="Image escapade au cirque de NAVACELLES" />
            <h3 class="mb-0 text-center">Escapade au cirque<br />de NAVACELLES</h3>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-area-icon.png" alt="Icône localisation balade" />
              <p class="mb-0">Languedoc-Roussilon</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-length-icon.png" alt="Icône durée balade" />
              <p class="mb-0">1 journée</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-kilometers-icon.png" alt="Icône longeur balade" />
              <p class="mb-0">223 kms</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-date-black-icon.png" alt="Icône  date balade" />
              <p class="mb-0">Samedi 09 avril 2022</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-hour-black-icon.png" alt="Icône heure RDV balade" />
              <p class="mb-0">8h30</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-place-black-icon.png" alt="Icône  endroit RDV balade" />
              <p class="mb-0">C.C CARREFOUR<br />Boulevatd SCHUMAN<br />34000 MONTPELLIER</p>
            </div>
            <div class="row downloadContent justify-content-between g-0">
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger le GPX</a></p>
              </div>
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger les infos</a></p>
              </div>
            </div>
          </div>
          <div class="rideCard col-12 col-md-5">
            <img class="w-100" src="../resources/ride-marais-poitevin-img.jpg" alt="Image découverte du marais POITEVIN" />
            <h3 class="mb-0 text-center">Découverte du<br />marais POITEVIN</h3>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-area-icon.png" alt="Icône localisation balade" />
              <p class="mb-0">Poitou-Charentes</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-length-icon.png" alt="Icône durée balade" />
              <p class="mb-0">1 journée</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-kilometers-icon.png" alt="Icône longeur balade" />
              <p class="mb-0">302 kms</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-date-black-icon.png" alt="Icône  date balade" />
              <p class="mb-0">Dimanche 23 avril 2022</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-hour-black-icon.png" alt="Icône heure RDV balade" />
              <p class="mb-0">8h30</p>
            </div>
            <div class="rideIcon d-flex align-items-center">
              <img src="../resources/ride-place-black-icon.png" alt="Icône  endroit RDV balade" />
              <p class="mb-0">Supermarché Casino<br />Rue Suzanne VALADON<br />86000 POITIERS</p>
            </div>
            <div class="row downloadContent justify-content-between g-0">
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger le GPX</a></p>
              </div>
              <div class="col-5 col-md-12 black text-center">
                <p class="mb-0"><a href="#">Télécharger les infos</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- rideInformations end -->
      </section>
      <!-- rideContent end -->
    </main>
    <!-- footerContainer start -->
    <footer class="footerContainer blue">
      <div class="row justify-content-xl-center g-0">
        <div class="col-12">
          <section class="socialsLinks d-flex justify-content-center align-items-center">
            <img src="../resources/facebook-icon.png" alt="Icône Facebook" />
            <img src="../resources/instagram-icon.png" alt="Icône Instagram" />
          </section>
          <section class="navLinks text-center">
            <p class="mb-0"><a href="#">L'association</a></p>
            <div class="titleLine black"></div>
            <p class="mb-0"><a href="#">Les balades</a></p>
            <div class="titleLine black"></div>
            <p class="mb-0"><a href="#">Nous contacter</a></p>
          </section>
          <section class="footerInformations text-center">
            <p class="mb-0"><a href="#">Mentions légales</a></p>
            <p>Site réalisé par Laurent CAILLAUD</p>
            <p class="mb-0">Virées à Moto - 2022</p>
          </section>
        </div>
      </div>
    </footer>
    <!-- footerContainer end -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/menuAnimation.js"></script>
  </body>
</html>
