<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Que ce soit pour des balades moto en LIMOUSIN ou ailleurs en France, vous trouverez sur ce site tout ce dont vous cherchez. Chaque balade vous donnera droit à sa trace GPX ainsi qu'un fichier PDF avec le roadbook complet."
    />
    <title>Virées à Moto - Les balades</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/rideView.css" type="text/css" />
  </head>
  <body>
    <!-- mainheader start -->
    <header class="mainHeader">
      <!-- subHeader start -->
      <section
        class="subHeader row justify-content-between align-items-center g-0"
      >
        <div class="col-7">
          <img
            class="w-100"
            src="../resources/logo-img.png"
            alt="Logo Virées à Moto"
          />
        </div>
        <div class="col-1">
          <img src="../resources/menu-icon.png" alt="Icône ouverture menu" />
        </div>
      </section>
      <!-- subHeader end -->
      <!-- slider start -->
      <section class="slider row"></section>
      <!-- slider end -->
      <section
        class="scrollFooter row justify-content-center align-items-center g-0"
      >
        <div class="col-1 text-center">
          <img
            src="../resources/scroll-icon.png"
            alt="Icône défilement de la page"
          />
        </div>
      </section>
    </header>
    <!-- mainHeader end -->
  </body>
</html>
